.demo-first{
    width: 100%;
    height: 503px;
    position: relative;
    background-color: #333333;
}
.demo-first-left-bg{
    display: inline-block;
    width: 118px;
    height: 184px;
    z-index: 5;
    position: absolute;
    left: 0px;
    top: 105px;
}
.demo-first-right-bg{
    display: inline-block;
    width: 37px;
    height: 73px;
    z-index: 5;
    position: absolute;
    float: right;
    right: 0px;
    bottom: 32px;
}
.demo-first-banner{
    width: 1024px;
    height: 503px;
    position: relative;
    margin: auto;
    text-align: center;
}
.demo-first-title{
    float: left;
    opacity: 0;
}
.demo-first-title-top{
    top: 205px;
    font-size: 54px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3dcd58;
    z-index: 5;
    position: absolute;
}
.demo-first-title-center{
    width: 47px;
    height: 5px;
    top: 289px;
    background-color: #3dcd58;
    z-index: 5;
    position: absolute;
}
.demo-first-title-bottom{
    height: 42px;
    top: 313px;
    font-family: Arial Rounded MT Pro Light;
    font-size: 37px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #3dcd58;
    z-index: 5;
    position: absolute;
}
.demo-first-bg1 {
    display: inline-block;
    width: 38px;
    height: 38px;
    z-index: 5;
    position: absolute;
    top:71px;
    margin: auto;
}
.demo-first-bg2 {
    display: inline-block;
    width: 650px;
    height: 325px;
    z-index: 5;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.demo-first-bg3{
    display: inline-block;
    width: 120px;
    height: 47px;
    z-index: 5;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.demo-uneven{
    overflow:hidden;
    width: 100%;
    height: 700px;
    background-color: #ffffff;
}
.demo-even{
    overflow:hidden;
    width: 100%;
    height: 700px;
    text-align: center;
    background-color: #f8f9f9;
}
.demo-content{
    height: 700px;
    position: relative;
    width: 1024px;
    text-align: center;
    margin: auto;
    display: flex;
    align-items:center; /*实现垂直居中*/
}

.demo-content-text{
    text-align: left;
    margin: auto;
}

.demo-uneven-content-text{
    float: left;
}
.demo-uneven-content-banner{
    margin-left: 1000px;
    z-index: 5;
    opacity: 0;
}
.demo-even-content-text{
    margin-left: 552px;

}
.demo-even-content-banner{
    left: -1250px;
    right: 0;
    position: absolute;
    z-index: 5;
    opacity: 0;
}
.demo-content-banner{
    position: absolute;
    margin-right: 512px;
    padding: 0 39px 0 39px;
    top:99px;
}

.demo-img{
    width: 716px;
    height: 503px;
    border-radius: 31px;
}


.demo-banner-line{
    width: 90px;
    height: 3px;
    background-color: #3dcd58;
}
.demo-uneven .demo-banner-line{
    margin-left: -200px;
    opacity: 0;
}
.demo-even .demo-banner-line{
    margin-left: 200px;
    opacity: 0;
}
.demo-banner-num{
    width: 61px;
    height: 84px;
    opacity: 0.25;
    font-size: 60px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #999999;
    left:411px;
    bottom: -10px;
    z-index:5;
    position:absolute;
}
.demo-banner-title{
    width: 360px;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3dcd58;
    margin-top:40px;
    position: relative;
}
.demo-uneven .demo-banner-title{
    margin-left: -200px;
    opacity: 0;
}
.demo-even .demo-banner-title{
    margin-left: 200px;
    opacity: 0;
}
.demo-banner-explain{
    width: 472px;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin-top:8px;
}
.demo-uneven .demo-banner-explain{
    margin-left: -200px;
    opacity: 0;
}
.demo-even .demo-banner-explain{
    margin-left: 200px;
    opacity: 0;
}
.demo-banner-tags{
    width: 450px;
    margin-top:12px;
    text-align: left;
    position: relative;
}
.demo-uneven .demo-banner-tags{
    margin-left: -200px;
    opacity: 0;
}
.demo-even .demo-banner-tags{
    margin-left: 200px;
    opacity: 0;
}
.demo-banner-tag{
    display: inline-block;
    padding: 1px 8px 1px 8px;
    margin-right: 12px;
    border-radius: 2px;
    border: solid 1px #91d5ff;
    background-color: #e6f7ff;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #219bfd;
}
.demo-banner-value{
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin-top:25px;
}
.demo-uneven .demo-banner-value{
    margin-left: -200px;
    opacity: 0;
}
.demo-even .demo-banner-value{
    margin-left: 200px;
    opacity: 0;
}
.demo-content-text li{
    width: 464px;
    font-size: 14px;
    margin-left: -200px;
    opacity: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}
.demo-uneven .demo-content-text li{
    margin-left: -200px;
    opacity: 0;
}
.demo-even .demo-content-text li{
    margin-left: 200px;
    opacity: 0;
}
.img-v{
    display: inline-block;
    height: 20px;
    margin: 5px 3px -3px 0;
}
.img-f{
    display: inline-block;
    margin: 5px 3px  -4px 0;
    height: 22px;
}

.demo-banner-function{
    width: 450px;
    height: 22px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #333333;
    margin-top:24px;
    text-align: left;
}
.demo-uneven .demo-banner-function{
    margin-left: -200px;
    opacity: 0;
}
.demo-even .demo-banner-function{
    margin-left: 200px;
    opacity: 0;
}
.demo-banner-link{
    position: absolute;
    width: 146px;
    height: 36px;
    border-radius: 2px;
    background-color: #3dcd58;
    text-align: center;
    float:left;
    margin-top: 24px;
    opacity: 0;
}
.demo-banner-link:hover{
    background-color: #64d981;
}
.demo-banner-link-no{
    position: absolute;
    width: 146px;
    height: 36px;
    border-radius: 2px;
    border: solid 1px #d9d9d9;
    background-color: #f2f2f2;
    text-align: center;
    float:left;
    margin-top: 24px;
}
.demo-link-no:hover{
    disabled:true;
    cursor: not-allowed;
}
.demo-banner-link-text{
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-top:8px;
    margin-bottom:8px;
}
.demo-banner-link-text-no{
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c0c0c0;
    margin-top:8px;
    margin-bottom:8px;
}
.dome-text-arrows{
    display: inline-block;
    margin-bottom: -5px;
    padding-left: 8px;
    width: 18px;
    height: 18px;
    text-align: center;
}
.dome-text-arrows-hover{
    z-index: 3;
    position: absolute;
    display: inline-block;
    top: 9.5px;
    left: 116px;
    width: 18px;
    height: 18px;
    text-align: center;
    opacity: 0;
}
.demo-like{
    margin:35px 0 0 25px;
    float:left;
    width: 100px;
    opacity: 0;
}
.demo-like-img{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 146px;
    float: left;
    z-index: 3;
    position: absolute;
}
.demo-like-img-on{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 146px;
    float: left;
    z-index: 2;
    position: absolute;
    opacity: 0;
    -webkit-transition:transform 700ms;
    transition:transform 700ms;
    -ms-transform:scale(2,2) ; /* IE 9 */
    -webkit-transform: scale(2,2); /* Safari */
    transform: scale(2,2); /* 标准语法 */
}
.like-on{
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* IE 9 */
    -webkit-transform:rotate(0deg); /* Safari and Chrome */
}
.demo-like-icon{
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}
.demo-like-sum{
    height: 20px;
    margin-left:170px;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #bfbfbf;
}
.demo-side-nav{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 2px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px #e6e6e6;
    overflow: hidden;
    z-index: 100;
    position: fixed;
    text-align:center;
    right: 40px;
    bottom: 40px;
    background-color: #ffffff;
}

.demo-side-nav-img{
    display: inline-block;
    width: 35px;
    height: 35px;
    left: 8px;
    top: 8px;
    position: absolute;
    text-align: center;
    z-index: 100;
}
.demo-side-nav-close{
    display: none;
    width: 35px;
    height: 35px;
    left: 8px;
    top: 8px;
    text-align: center;
    z-index: 972;
    position: absolute;
}


.demo-side-nav-list{
    display:none;
    right: 40px;
    bottom: 110px;
    width: 204px;
    height: 308px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
    z-index: 100;
    position: fixed;
    background-color: white;
}
.demo-side-nav-table{
    width: 192px;
    height: 284px;
    top:12px;
    left: 12px;
    right: 12px;
    bottom: 12px;
    position: absolute;
}
.demo-side-nav-table tr{
}
.demo-side-nav-table td:first-child {
    width: 20px;
    text-align: center;
}
.demo-side-nav-table td:last-child{
    width: 150px;
    text-align: left;
}
.demo-side-nav-table a{
    width: 138px;
    padding-left: 12px;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
    padding-top: 6px;
    padding-bottom: 6px;
}

.demo-side-nav-line{
    margin: 28px 10px 10px 24.5px ;
    float: left;
    width: 2px;
    height: 250px;
    border-radius: 1.5px;
    background-color:#d9d9d9;
    text-align: center;
    z-index: 1;
    position: absolute;
}
.demo-side-nav-circle-arrive{
    background-color: #f0fff0;
}
.demo-side-nav-anchor{
    width: 8px;
    height: 8px;
    background-color: #3dcd58;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    position: absolute;
    z-index: 99;
    opacity: 1;
    margin-top: -8px;
    margin-left: 7px;
}
.demo-side-nav-circle{
    width: 6px;
    height: 6px;
    margin: auto;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #d9d9d9;
}

.demo-side-nav-list a:hover{
    background-color: #f0fff0;
}